span.place-name {
    display: inline-block;
    width: 70%;
}

form.visited-form {
    display: inline;
}

div.wishlist-place {
    margin: 20px;
}

label {
    display: inline-block;
    padding-right: 12px;
}

a.nav-link {
    margin-right: 12px;
}

#add-new-place {
    background-color: rgb(122, 0, 128);
    border: #5a6400;
}


